{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "typings",
    "src/**/acl/**"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text",
    "json",
    "html"
  ],
  "all": true
}
